<div class="comment mb-3 bubble" data-controller="attachment">
  <p class="email"><%= comment.user.email %></p>
  <p class="content"><%= comment.content %></p>
  <span class="attachments">Вкладення: </span>

  <% if comment.attachments.any? %>
    <% if comment.attachments.count >= 3 %>
      <div class="attachments-slider" data-target="attachment.slider">
        <button class="slider-nav prev" data-action="click->attachment#scrollAttachments" data-direction="-1">&lt;</button>
        <button class="slider-nav next" data-action="click->attachment#scrollAttachments" data-direction="1">&gt;</button>
        <div class="attachments-list">
          <% comment.attachments.each do |attachment| %>
            <div class="attachment-item">
              <span class="attachment-title"><%= attachment.filename.to_s %></span>
              <% if attachment.content_type.starts_with?('image/') %>
                <img src="<%= url_for(attachment) %>" alt="<%= attachment.filename.to_s %>" class="attachment-img" data-action="click->attachment#showModal" data-url="<%= url_for(attachment) %>" data-title="<%= attachment.filename.to_s %>" data-type="<%= attachment.content_type %>">
              <% elsif attachment.content_type == 'application/pdf' %>
                <img src="<%= asset_path('pdf-icon.svg') %>" alt="<%= attachment.filename.to_s %>" class="attachment-img" data-action="click->attachment#showModal" data-url="<%= url_for(attachment) %>" data-title="<%= attachment.filename.to_s %>" data-type="<%= attachment.content_type %>">
              <% else %>
                <img src="<%= asset_path(get_icon_for(attachment.content_type)) %>" alt="<%= attachment.filename.to_s %>" class="attachment-img" data-action="click->attachment#showModal" data-url="<%= url_for(attachment) %>" data-title="<%= attachment.filename.to_s %>" data-type="<%= attachment.content_type %>">
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="attachments-list">
        <% comment.attachments.each do |attachment| %>
          <div class="attachment-item">
            <span class="attachment-title"><%= attachment.filename.to_s %></span>
            <% if attachment.content_type.starts_with?('image/') %>
              <img src="<%= url_for(attachment) %>" alt="<%= attachment.filename.to_s %>" class="attachment-img" data-action="click->attachment#showModal" data-url="<%= url_for(attachment) %>" data-title="<%= attachment.filename.to_s %>" data-type="<%= attachment.content_type %>">
            <% elsif attachment.content_type == 'application/pdf' %>
              <img src="<%= asset_path('pdf-icon.svg') %>" alt="<%= attachment.filename.to_s %>" class="attachment-img" data-action="click->attachment#showModal" data-url="<%= url_for(attachment) %>" data-title="<%= attachment.filename.to_s %>" data-type="<%= attachment.content_type %>">
            <% else %>
              <img src="<%= asset_path(get_icon_for(attachment.content_type)) %>" alt="<%= attachment.filename.to_s %>" class="attachment-img" data-action="click->attachment#showModal" data-url="<%= url_for(attachment) %>" data-title="<%= attachment.filename.to_s %>" data-type="<%= attachment.content_type %>">
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>