<%= form_with(model: @event, local: true, html: { multipart: true, class: 'form_container' }) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prevented this event from being saved:</h2>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%if current_user.can_edit_event? %>
  <div class="form-group">
    <%= form.label :name, "Ім'я" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Опис" %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group" data-controller="category">
    <%= form.label :category_id, "Категорія" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: 'Оберіть існуючу категорію' }, { class: 'form-control', id: 'event_category_id', data: { category_target: 'categorySelect' } } %>
    <br>
    <label>
      <input type="checkbox" id="new_category_checkbox" data-category-target="newCategoryCheckbox" data-action="category#toggle"> Або створіть нову категорію
    </label>
    <%= form.text_field :new_category, class: 'form-control', id: 'new_category_input', placeholder: 'Назва', style: 'display:none;', data: { category_target: 'newCategoryInput' } %>
  </div>

  <div class="form-group" data-controller="event-params">
    <%= form.label :event_params, "Параметри події" %>
    <%= form.collection_select :event_param_ids, @event_params, :id, :name, {}, { multiple: true, class: 'form-control', id: 'event_param_ids', data: { event_params_target: 'eventParamsSelect' } } %>
    
    <div id="new-event-params">
      <label>
        <input type="checkbox" id="add_new_event_param_checkbox" data-event-params-target="addNewEventParamCheckbox" data-action="event-params#toggle"> Або створіть новий параметр
      </label>
      
      <!-- Hidden container for dynamic inputs -->
      <div id="new-event-params-container" style="display:none;" data-event-params-target="newEventParamsContainer">
        <!-- Ensure that input names end with [] to be treated as an array -->
        <div class="input-group mb-3">
          <input type="text" name="event[new_event_params][]" class="form-control" placeholder="Назва параметра">
          <button type="button" class="btn btn-danger" data-action="click->event-params#removeInput">Видалити</button>
        </div>
      </div>

      <button type="button" class="btn btn-secondary" data-event-params-target="addInputButton" data-action="click->event-params#addInput" style="display:none;">Додати параметр</button>
    </div>
  </div>

  <div class="form-group">  
    <%= form.label :attachments, "Вкладення" %>
    <%= form.file_field :attachments, multiple: true, class: 'form-control' %>
  </div>
  <%end%>

  <% if current_user.can_manage_releases? %>
  <div class="form-group">
    <%= form.label :ios_impl, "Дата впровадження для iOS" %>
    <%= form.datetime_field :ios_impl, include_blank: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :android_impl, "Дата впровадження для Android" %>
    <%= form.datetime_field :android_impl, include_blank: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :ios_release, "Дата випуску для iOS" %>
    <%= form.datetime_field :ios_release, include_blank: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :android_release, "Дата випуску для Android" %>
    <%= form.datetime_field :android_release, include_blank: true, class: 'form-control' %>
  </div>

  <%end%>

  <div class="form-group">
    <%= form.submit submit_text, class: 'btn btn_primary' %>
  </div>
<% end %>