<div class="title_container">
  <h1>Деталі Події</h1>
  <%= link_to 'Назад', events_path, class: 'btn btn-custom-color btn-sm', title: 'Назад' %>
</div>
<div class="event-container">
  <div class="event-details card mb-3">
    <div class="card-header text-white">
      <h2><%= @event.name %></h2>
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Категорія:</strong>
        <span class="badge badge-info"><%= @event.category.name %></span>
      </p>
      
      <p class="card-text"><%= @event.description %></p>

      <% if @event.event_params.any? %>
        <p class="card-text"><strong>Параметри події:</strong></p>
        <ul>
          <% @event.event_params.each do |param| %>
            <li><%= param.name %> - <%= param.description %></li>
          <% end %>
        </ul>
      <% end %>

      <% if @event.attachments.any? %>
        <div class="attachments-section expanded">
          <button class="expand-button btn btn-custom-color" onclick="toggleAttachments()">Вкладення (<%= @event.attachments.count %>)</button>
          <div class="attachments-content">
            <div class="attachments-slider">
              <button class="slider-nav prev" onclick="scrollAttachments(-1)">&#9664;</button>
              <div class="attachments-list">
                <% @event.attachments.each do |attachment| %>
                  <div class="attachment-item">
                    <%= link_to attachment.filename.to_s, url_for(attachment) %>
                  </div>
                <% end %>
              </div>
              <button class="slider-nav next" onclick="scrollAttachments(1)">&#9654;</button>
            </div>
          </div>
        </div>
      <% end %>

      <div class="platform-dates">
        <div>
          <% if @event.ios_impl %>
            <p class="card-text">
              <i class="fa-brands fa-apple"></i> <strong>Впроваджено:</strong> <%= @event.ios_impl.strftime("%Y-%m-%d %H:%M:%S") %>
            </p>
          <% end %>
          <% if @event.ios_release %>
            <p class="card-text">
              <i class="fa-brands fa-apple"></i> <strong>Випущено в App Store:</strong> <%= @event.ios_release.strftime("%Y-%m-%d %H:%M:%S") %>
            </p>
          <% end %>
        </div>
        <div>
          <% if @event.android_impl %>
            <p class="card-text">
              <i class="fa-brands fa-android"></i> <strong>Впроваджено:</strong> <%= @event.android_impl.strftime("%Y-%m-%d %H:%M:%S") %>
            </p>
          <% end %>
          <% if @event.android_release %>
            <p class="card-text">
              <i class="fa-brands fa-android"></i> <strong>Випущено в Play Market:</strong> <%= @event.android_release.strftime("%Y-%m-%d %H:%M:%S") %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="comments-section expanded">
    <button class="expand-button btn btn-custom-color" onclick="toggleComments()">Коментарі (<%= @event.comments.count %>)</button>
    <div class="comments-content">
      <div class="comments-slider">
        <button class="slider-nav prev" onclick="scrollSlider(-1)">&#9650;</button>
        <div class="comments-list">
          <%= render @event.comments %>
        </div>
        <button class="slider-nav next" onclick="scrollSlider(1)">&#9660;</button>
      </div>
      <div>
        <%= render 'comments/form', commentable: @event, comment: Comment.new %>
      </div>
    </div>
  </div>
</div>

<div>
  <% if current_user.can_open_event_edit? %>
    <%= link_to '✏️', edit_event_path(@event), class: 'btn btn-custom-color btn-sm', title: 'Редагувати' %>
  <% end %>
  <% if current_user.can_delete_event? %>
    <%= link_to '🗑️', event_path(@event), data: { turbo_method: :delete, turbo_confirm: 'Ви впевнені?' }, class: 'btn btn-custom-color btn-sm', title: 'Видалити' %>
  <% end %>
</div>
<script>
  function toggleComments() {
    const commentsSection = document.querySelector('.comments-section');
    commentsSection.classList.toggle('expanded');
  }
  function scrollSlider(direction) {
  const slider = document.querySelector('.comments-list');
  const scrollAmount = 300; // Кількість для прокрутки за клік
  slider.scrollBy({
    top: direction * scrollAmount,
    behavior: 'smooth'
  });
}

</script>