<div class="event-container" data-controller="attachment">
  <div class="event-details card mb-3">
    <div class="card-header text-white">
      <h2><%= @event.name %></h2>
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Категорія:</strong>
        <span class="badge badge-info"><%= @event.category.name %></span>
      </p>

      <p class="card-text"><%= @event.description %></p>

      <% if @event.event_params.any? %>
        <p class="card-text"><strong>Параметри події:</strong></p>
        <ul>
          <% @event.event_params.each do |param| %>
            <li><%= param.name %> - <%= param.description %></li>
          <% end %>
        </ul>
      <% end %>

      <% if @event.attachments.attached? %>
        <div class="attachments-section" data-controller="attachment">
          <button class="expand-button btn btn-custom-color" data-action="click->attachment#toggle">Вкладення (<%= @event.attachments.count %>)</button>
          <div class="attachments-content" data-attachment-target="attachmentsContent" style="display: none;">
            <% if @event.attachments.count >= 3 %>
              <div class="attachments-slider">
                <button class="slider-nav comment-slider-prev" data-action="click->attachment#scrollAttachments" data-direction="-1">&lt;</button>
                <div class="attachments-list">
                  <% @event.attachments.each do |attachment| %>
                    <div class="attachment-item">
                      <span class="attachment-title"><%= attachment.filename.to_s %></span>
                      <% if attachment.content_type.starts_with?('image/') %>
                        <img src="<%= url_for(attachment) %>" alt="<%= attachment.filename.to_s %>" class="attachment-img" data-action="click->attachment#showModal" data-url="<%= url_for(attachment) %>" data-title="<%= attachment.filename.to_s %>" data-type="<%= attachment.content_type %>">
                      <% elsif attachment.content_type == 'application/pdf' %>
                        <img src="<%= asset_path('pdf-icon.svg') %>" alt="<%= attachment.filename.to_s %>" class="attachment-img" data-action="click->attachment#showModal" data-url="<%= url_for(attachment) %>" data-title="<%= attachment.filename.to_s %>" data-type="<%= attachment.content_type %>">
                      <% else %>
                        <img src="<%= asset_path(get_icon_for(attachment.content_type)) %>" alt="<%= attachment.filename.to_s %>" class="attachment-img" data-action="click->attachment#showModal" data-url="<%= url_for(attachment) %>" data-title="<%= attachment.filename.to_s %>" data-type="<%= attachment.content_type %>">
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <button class="slider-nav comment-slider-next" data-action="click->attachment#scrollAttachments" data-direction="1">&gt;</button>
              </div>
            <% else %>
              <div class="attachments-list">
                <% @event.attachments.each do |attachment| %>
                  <div class="attachment-item">
                    <span class="attachment-title"><%= attachment.filename.to_s %></span>
                    <% if attachment.content_type.starts_with?('image/') %>
                      <img src="<%= url_for(attachment) %>" alt="<%= attachment.filename.to_s %>" class="attachment-img" data-action="click->attachment#showModal" data-url="<%= url_for(attachment) %>" data-title="<%= attachment.filename.to_s %>" data-type="<%= attachment.content_type %>">
                    <% elsif attachment.content_type == 'application/pdf' %>
                      <img src="<%= asset_path('pdf-icon.png') %>" alt="<%= attachment.filename.to_s %>" class="attachment-img" data-action="click->attachment#showModal" data-url="<%= url_for(attachment) %>" data-title="<%= attachment.filename.to_s %>" data-type="<%= attachment.content_type %>">
                    <% else %>
                      <img src="<%= asset_path(get_icon_for(attachment.content_type)) %>" alt="<%= attachment.filename.to_s %>" class="attachment-img" data-action="click->attachment#showModal" data-url="<%= url_for(attachment) %>" data-title="<%= attachment.filename.to_s %>" data-type="<%= attachment.content_type %>">
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="platform-dates">
        <div>
          <% if @event.ios_impl %>
            <p class="card-text">
              <i class="fa-brands fa-apple"></i> <strong>Впроваджено:</strong> <%= @event.ios_impl.strftime("%Y-%m-%d %H:%M:%S") %>
            </p>
          <% end %>
          <% if @event.ios_release %>
            <p class="card-text">
              <i class="fa-brands fa-apple"></i> <strong>Випущено в App Store:</strong> <%= @event.ios_release.strftime("%Y-%m-%d %H:%M:%S") %>
            </p>
          <% end %>
        </div>
        <div>
          <% if @event.android_impl %>
            <p class="card-text">
              <i class="fa-brands fa-android"></i> <strong>Впроваджено:</strong> <%= @event.android_impl.strftime("%Y-%m-%d %H:%M:%S") %>
            </p>
          <% end %>
          <% if @event.android_release %>
            <p class="card-text">
              <i class="fa-brands fa-android"></i> <strong>Випущено в Play Market:</strong> <%= @event.android_release.strftime("%Y-%m-%d %H:%M:%S") %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="buttons-container">
      <% if current_user.can_open_event_edit? %>
        <%= link_to '✏️', edit_event_path(@event), class: 'btn btn-custom-color btn-sm', title: 'Редагувати' %>
      <% end %>
      <% if current_user.can_delete_event? %>
        <%= link_to '🗑️', event_path(@event), data: { turbo_method: :delete, turbo_confirm: 'Ви впевнені?' }, class: 'btn btn-custom-color btn-sm', title: 'Видалити' %>
      <% end %>
    </div>
  </div>

  <div class="comments-section">
  <button class="expand-button btn btn-custom-color" data-action="click->attachment#toggleComments">Коментарі (<%= @event.comments.count %>)</button>
  <div class="comments-content" data-attachment-target="commentsContent">
    <div class="comments-slider">
      <button class="slider-nav prev" data-action="click->attachment#scrollAttachments" data-direction="-1">&#9650;</button>
      <div class="comments-list">
        <%= render @event.comments %>
      </div>
      <button class="slider-nav next" data-action="click->attachment#scrollAttachments" data-direction="1">&#9660;</button>
    </div>
    <div>
      <%= render 'comments/form', commentable: @event, comment: Comment.new %>
    </div>
  </div>
</div>
</div>
