<!-- app/views/event_params/index.html.erb -->

<div class="container mt-5">
  <h2>Параметри Подій</h2>
  <% if current_user.can_manage_event_params? %>
  <%= link_to 'Новий Параметр Події', new_event_param_path, class: 'btn btn-primary mb-3' %>
  <% end %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Назва</th>
        <th>Опис</th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody>
      <% @event_params.each do |event_param| %>
        <tr>
          <td><%= link_to event_param.name, event_param_path(event_param) %></td>
          <td><%= truncate(event_param.description, length: 50) %></td>
          <td>
            <%= link_to 'Показати', event_param_path(event_param), class: 'btn btn-primary btn-sm' %>
            <% if current_user.can_manage_event_params? %>
            <%= link_to 'Редагувати', edit_event_param_path(event_param), class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Видалити', event_param_path(event_param), data: { turbo_method: :delete, turbo_confirm: 'Ви впевнені?' }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Назад', home_path %>