<!-- app/views/categories/index.html.erb -->
<div class="title_container">
  <h1>Категорії</h1>
  <%= link_to 'Нова категорія', new_category_path, class: 'btn btn-custom-color' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Ім'я</th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to '🔍', category, class: 'btn btn-custom-color btn-sm', title: 'Показати' %>
          <% if current_user.can_manage_categories? %>
          <%= link_to '✏️', edit_category_path(category), class: 'btn btn-custom-color btn-sm', title: 'Редагувати' %>
          <%= link_to '🗑️', category_path(category), data: { turbo_method: :delete, turbo_confirm: 'Ви впевнені? Зверніть увагу що усі події цієї категорії також будуть знищені.' }, class: 'btn btn-custom-color btn-sm', title: 'Видалити' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Назад', home_path, class: 'btn btn-link' %>

